Repository nathfroech/moonvision_test_task: changes, and which pre-commit hooks are due for each by the changed paths.
All: hyphen-filenames, camelcase-filenames, python-check-noqa-case, flake8, yesqa, pylint, mypy, yamllint, rst-lint

hyphen-filenames:
  name: Check file names for hyphens
  entry: Hyphens should not be used in file names, use underscores instead
  language: fail

camelcase-filenames:
  name: Check file names for camelcase
  entry: Capital letters should not be used in file names, use snake_case everywhere
  language: fail

python-check-noqa-case:
  name: check noqa occurences with incorrect cases
  description: Enforce that `noqa` annotations always occur in lowercase, no `NoQA` or `NOQA` allowed
  entry: '# (N[Oo][Qq][Aa])|([Nn]O[Qq][Aa])|([Nn][Oo]Q[Aa])|([Nn][Oo][Qq]A)'
  language: pygrep
  stages:
  - commit

flake8:
  name: Check python files (code style - flake8)
  entry: flake8
  language: system
  args:
  - --config=setup.cfg
  stages:
  - commit

yesqa:
  name: Check python files (obsolete noqa comments)
  entry: yesqa
  language: system
  stages:
  - commit

pylint:
  name: Check python files (code style - pylint)
  entry: pylint
  language: system
  args:
  - --rcfile
  - .pylintrc
  stages:
  - commit

mypy:
  name: Check python files (typing - mypy)
  entry: mypy
  language: system
  args:
  - --config-file
  - setup.cfg
  stages:
  - commit

yamllint:
  name: Check yaml files
  entry: yamllint
  args:
  - -c
  - .yamllint
  language: system
  stages:
  - commit

rst-lint:
  name: Check rst files
  entry: rst-lint
  language: system
  stages:
  - commit

Implement API endpoint
  .pylintrc
  config/settings.py
  config/urls.py
  moonvision/conftest.py
  moonvision/image_classification/__init__.py
  moonvision/image_classification/apps.py
  moonvision/image_classification/conftest.py
  moonvision/image_classification/serializers.py
  moonvision/image_classification/tests/__init__.py
  moonvision/image_classification/tests/test_serializers.py
  moonvision/image_classification/tests/test_views.py
  moonvision/image_classification/urls.py
  moonvision/image_classification/views.py
  requirements/base.in
  requirements/dev.txt
  setup.cfg
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Add model to store uploaded images
  .gitignore
  config/prepare_environment.py
  config/settings.py
  moonvision/image_classification/admin.py
  moonvision/image_classification/migrations/0001_initial.py
  moonvision/image_classification/migrations/__init__.py
  moonvision/image_classification/models.py
  moonvision/image_classification/serializers.py
  moonvision/image_classification/tests/test_models.py
  moonvision/image_classification/tests/test_views.py
  moonvision/image_classification/views.py
  setup.cfg
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Implement label prediction with pytorch
  config/settings.py
  moonvision/image_classification/conftest.py
  moonvision/image_classification/imagenet_labels.txt
  moonvision/image_classification/serializers.py
  moonvision/image_classification/services.py
  moonvision/image_classification/tests/test_image.jpg
  moonvision/image_classification/tests/test_serializers.py
  moonvision/image_classification/tests/test_services.py
  moonvision/image_classification/tests/test_views.py
  moonvision/image_classification/views.py
  requirements/base.in
  requirements/dev.in
  requirements/dev.txt
  setup.cfg
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Add docker config files
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  config/settings.py
  docker-compose.yml
  helpers/generate_env_file.py
  helpers/update_requirements.sh
  requirements/staging.txt
Due: hyphen-filenames, camelcase-filenames, python-check-noqa-case, flake8, yesqa, pylint, mypy, yamllint

Add choices for model type
  moonvision/image_classification/serializers.py
  moonvision/image_classification/services.py
  moonvision/image_classification/tests/test_serializers.py
  moonvision/image_classification/tests/test_views.py
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Remove user model
  config/settings.py
  moonvision/conftest.py
  moonvision/users/__init__.py
  moonvision/users/admin.py
  moonvision/users/apps.py
  moonvision/users/migrations/0001_initial.py
  moonvision/users/migrations/__init__.py
  moonvision/users/models.py
  moonvision/users/tests/__init__.py
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Improve admin list page for uploaded images
  moonvision/image_classification/admin.py
  moonvision/image_classification/models.py
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Allow data uri as image
  moonvision/image_classification/serializers.py
  moonvision/image_classification/tests/test_serializers.py
  setup.cfg
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Clean config files
  .coveragerc
  config/prepare_environment.py
  config/settings.py
  config/urls.py
  setup.cfg
Due: python-check-noqa-case, flake8, yesqa, pylint, mypy

Update readme
  README.rst
Due: rst-lint

Remove obsolete readme part about requirements
  README.rst
Due: rst-lint

Path conditions:
  hyphen-filenames: any of: .*-.*, but not: \.pre-commit-config\.yaml
  camelcase-filenames: any of: .*[A-Z].*, but not: LICENSE|Makefile|README
  python-check-noqa-case: any of: \.py$
  flake8: any of: \.py$
  yesqa: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  yamllint: any of: \.ya?ml$
  rst-lint: any of: \.rst$
